<nav class="navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    {{#link-to 'application' class='navbar-brand'}}Everyday Ultimatum{{/link-to}}
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      {{#link-to 'ultimata' tagName="li"}}<a href>ultimata</a>{{/link-to}}
    </ul>
  </div>
</nav>

