<div class="row">
  <div class="col-sm-4">
    <h2>Ultimata</h2>
    {{ultimata-list ultimata=model}}
  </div>
  <div class="col-sm-8">
    {{outlet}} <!-- this is where child routes are rendered -->
  </div>
</div>
